.mainbox-signup {
    width: 80%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fullname {
    width: 45px;
    height: 13px;
    position: relative;
    right: 100px;
    top: 10px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}
.email-id-signup {
    width: 36px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    position: relative;
    right: 100px;
    top: 10px;
}
.password-signup {
    width: 44px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    position: relative;
    right: 100px;
    top: 10px;
}
.mobnum {
    width: 68px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
    position: relative;
    right: 90px;
    top: 10px;
}
.fullname-signup {
    width: 252px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FF001C;
    border-radius: 2px;
    opacity: 1;
}
.email-signup {
    width: 252px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}
.passwordtextfield-signup {
    width: 252px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}
.mob-signup {
    width: 252px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}
.btn-signup {
    width: 252px;
    height: 37px;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin-top: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .fullname-signup {
        width: 126px;
        height: 15px;
       
    }
    .email-signup {
        width: 126px;
        height: 15px;
    }
    .passwordtextfield-signup {
        width: 126px;
        height: 15px;
    }
    .mob-signup {
        width: 126px;
        height: 15px;
    }
    .btn-signup {
        width: 126px;
        margin-top: 20px;
    
    }
    .password-signup {
        margin-left: 100px;
        font-size: xx-small;
        margin-bottom: 5px;
    }
    .fullname {
        font-size: xx-small;
        margin-left: 100px;
        margin-bottom: 5px;
    }
    .email-id-signup {
        margin-left: 100px;
        font-size: xx-small;
        margin-bottom: 5px;
    }
    .mobnum {
        margin-left: 100px;
        font-size: xx-small;
        margin-bottom: 5px;
    }
    .mainbox-signup {
        position: relative;
        bottom: 20px;
        height: 90%;
    }
}